body {
    background-color: rgb(161, 187, 178);
}

.empRow { 
    display: flex;
    flex-direction: row;
    border: 1px solid;
    margin-bottom: -1px;
}

.image {
    width: 50px;
    height: 50px;
    /* flex-grow: 1; */
    padding: 10px;
}

.name {
    width: 20vw;
    
}

.email {
    width: 20vw;
}

.phone {
    width: 20vw;
}

.birthday {
    width: 20vw;
}